<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALNL6GZIE6d09aNEgkLENLhzwJTXF4GOg</string>
	<key>GCM_SENDER_ID</key>
	<string>535493893394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mutlipleCalendarManagement</string>
	<key>PROJECT_ID</key>
	<string>mcma-f134f</string>
	<key>STORAGE_BUCKET</key>
	<string>mcma-f134f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535493893394:ios:2e24bbbcb63c6cbe3fe7cb</string>
</dict>
</plist>